<footer>
  <div class="row expanded callout secondary align-bottom">

    <div class="small-6 large-3 columns">
      <p class="lead">Support</p>
      <ul class="menu vertical">
        <li><a href="#">About Us</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Join Us</p>
      <ul class="menu vertical">
        <li><a href="#">Become a Seller</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Contact</p>
      <ul class="menu vertical">
        <li><a href="https://twitter.com/i/flow/login"><i
              class="fi-social-twitter"
            ></i>Twitter</a></li>
        <li><a href="https://www.facebook.com/"><i
              class="fi-social-facebook"
            ></i>Facebook</a></li>
        <li><a href="https://www.instagram.com/"><i
              class="fi-social-instagram"
            ></i>Instagram</a></li>
        <li><a href="https://www.pinterest.ch/"><i
              class="fi-social-pinterest"
            ></i>Pinterest</a></li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <p class="lead">Menu</p>
      <ul class="menu vertical">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/listings">Listings</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>

  </div>
</footer>