  <div class="callout large">
    <div class="row column text-center">
      <h1>Register - Rental Point</h1>
      <p class="lead">Find the perfect car to conquer any occasion. From laid
        back city driving to exploring the great outdoors. We have a car to fit
        any need! All you need to do is have an account with us.</p>
    </div>
  </div>

{{#if errorMessage includeZero=true}}
<div class="callout alert">
  <h5>{{{errorMessage}}}</h5>
  <a href="#">Please make the necessary changes</a>
</div>
{{/if}}

<form action="/register" method="POST" autocomplete="off"> 
  <div class="row">
    <fieldset class="fieldset small-8 small-centered columns">
      <legend>User Information</legend>
      <div class="medium-6 columns">
        <label>First Name
          <input type="text" placeholder="John" name="fname"  />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Last Name
          <input type="text" placeholder="Smith" name="lname" />
        </label>
      </div>
      <div class="medium-6 columns">
              <label>Country
              <select name="country">
                <option value="None">None</option>
                <option value="Canada">Canada</option>
                <option value="United States">United States</option>
                <option value="Mexico">Mexico</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="India">India</option>
                <option value="China">China</option>
              </select>
            </label>
      </div>
      <div class="large-12 columns">
        <label>Date of Birth            
            <input type="date" value="2001-06-01" name="date" >
        </label>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="row">
    <fieldset class="fieldset small-8 small-centered columns">
      <legend>Account Information</legend>
      <div class="medium-6 columns">
        <label>Email
          <input type="text" placeholder="johnsmith@gmail.com" name="email" />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Password
          <input type="password" placeholder="Password" name="password" />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Confirm Password
          <input type="password" placeholder="Confirm Password" name="confirm" />
        </label>
      </div>
    </fieldset>
  </div>
  <div class="row">
      <div class="small-5 small-centered columns">
      <p><input type="submit" class="button expanded" value="Register"  ></input></p>
      </div>
  </div>
</form>

